body {
    margin: 0;
}
header {
    margin: 0;
    position: relative;
    height: 45px;
    border-bottom: 1px solid #ccc;
}
/*
h1 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 50%;
    padding-left: 10px;
}
nav {
    flex: 1;
}
navBtn {
    margin: 0;
    justify-content: flex-end;
}*/

